.page-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .content-wrapper{
        height: 100vh;
        width: 70%;
        background-color:rgba(0, 0, 0, 0.5);
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr 1fr;
        align-items: center;

        h1, h2{
            margin: 0;
            color: gold;
            text-shadow: 2px 2px black;
            padding: 20px;
            font-family: $star-wars;
            letter-spacing: 3px;
            text-align: center;
        }
        
        .list-wrapper{

            a{
                color: gold;
                text-shadow: 2px 2px black;
                text-decoration: none;
                transition: 0.5s;
                font-size: 1.5em;
    
                &:hover {
                    color: red;
                }
            }
        }
    }
}