body{
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1587279484796-61a264afc18b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


@import "./variables.scss";
@import "./homepage.scss";
@import "./forms.scss";

@import "./sith.scss";
@import "./jedi.scss";
@import "./normal.scss";
@import "./media-queries.scss";

