@media(max-width: 700px){
    .content-wrapper{

        form{
            .input-wrapper{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media(max-width: 500px){
    .page-content-wrapper{

        .content-wrapper{
            width: 100vw;
            padding:0px;
            form{
                align-items: center;
                .input-wrapper{
                    grid-template-columns: 1fr;

                    input{
                        color: white;
                        height: 25px;
                        &::placeholder{
                            color: white;
                            font-size: 1.25em;
                        }
                    }
                    
                }
            }
        }
    }
}