@font-face{
    src: url("../../fonts/starjedi/Starjedi.ttf");
    font-family: star-wars;
}

@mixin alignmentColor($alignment: 'jedi'){
    @if $alignment == 'jedi' {
        color: blue;
    } @else if $alignment == 'sith'{
        color: red;
    }@else{
        color: green;
    }
}


$star-wars: star-wars;